<section class="presentation">
    <div class="presentation_box">
        <div class="pre_content">
            <div class="content_text">
                <h3>Hi, I’m Hadou Kone. Nice to meet you.</h3>
                <div class="sub_content">
                    <p>
                        Since I started my journey as a Fullstack Developer 2 years ago,
                        I have worked remotely for agencies,
                        and collaborated with talented people to create digital products for both businesses and consumers.
                        I am quietly confident, naturally curious and constantly working to improve my skills.
                    </p>
                </div>
            </div>
        </div>

        <div class="content_box">
            <div class="box_pre">
                <div class="box">
                    <i class="bi bi-pencil-square"></i>
                    <span class="box_title">Designer</span>
                    <div class="box_text">
                        <span>I value simple content structure, clean design patterns, and thoughtful interactions.</span>
                        <a href="#" class="link">Things I enjoy designing:</a>
                        <h3>UX, UI, Web, Apps, Logos</h3>
                        <a href="#" class="link">Design Tools:</a>
                        <div class="tools">
                            <span>Affinity Designer</span>
                            <span>Figma</span>
                            <span>Canva</span>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <i class="bi bi-code-square"></i>
                    <span class="box_title">Frontend Developer</span>
                    <div class="box_text">
                        <span>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</span>
                        <a href="#" class="link">Languages I speak:</a>
                        <h3>HTML, CSS, Sass, Bootstrap ,Tailwind CSS , Git</h3>
                        <a href="#" class="link">Dev Tools:</a>
                        <div class="tools">
                            <span>Angular</span>
                            <span>JavaScript</span>
                            <span>TypeScript</span>
                            <span>WordPress</span>
                            <span>Cpanel</span>
                            <span>Github & GitLab</span>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <i class="bi bi-code-square"></i>
                    <span class="box_title">Backend Developer</span>
                    <div class="box_text">
                        <span>I enjoy building the logic and structure that powers applications. My focus is on creating reliable, scalable, and efficient systems that handle data and ensure seamless communication between the client and server.</span>
                        <a href="#" class="link">Languages I speak:</a>
                        <h3>PHP, Laravel, TypeScript, JavaScript, Dart, Flutter</h3>
                        <a href="#" class="link">Dev Tools:</a>
                        <div class="tools">
                            <span>Mysql</span>
                            <span>MongoDB</span>
                            <span>PostgreSQL</span>
                            <span>API REST</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="work">
    <div class="work_box">
        <h3 class="title">My Recent Work</h3>
        <span class="sub_title">Here are a few past design projects I've worked on. Want to see more? Email me.</span>
        <div class="work_content">
            <div class="work_gril">
                
                <div class="grill">
                    <img src="images/3.png" alt="logo">
                    <div class="grill_text">
                        <span>Siglass company specializing in glazing and carpentry.</span>
                        <a href="https://siglass-ci.com/site/" target="_blank" class="btn">View website<i class="bi bi-arrow-right-short"></i></a>
                    </div>
                </div>
            
                <div class="grill">
                    <img src="images/4.png" alt="logo">
                    <div class="grill_text">
                        <span>PGCP, centralized management platform for parishioners in Ivory Coast</span>
                        <a href="https://test.pgcp.ci/#/connexion" target="_blank" class="btn">View Back Office<i class="bi bi-arrow-right-short"></i></a>
                    </div>
                </div>
            
                <div class="grill">
                    <img src="images/9.png" alt="logo">
                    <div class="grill_text">
                        <span>Maparoisse, back office of all mass request platforms, donations, worship funds and other</span>
                        <a href="https://admin.maparoisse.ci/#/login" target="_blank" class="btn">View Back Office<i class="bi bi-arrow-right-short"></i></a>
                    </div>
                </div>

                <div class="grill">
                    <img src="images/5.png" alt="logo">
                    <div class="grill_text">
                        <span>Accounting and tax services characterized by quality, reliability, and trust.</span>
                        <a href="#" class="btn">View website<i class="bi bi-arrow-right-short"></i></a>
                    </div>
                </div>

                <div class="grill">
                    <img src="images/6.png" alt="logo">
                    <div class="grill_text">
                        <span>mukasa church management platform</span>
                        <a href="https://eglise-mukasa.ci/#/accueil" target="_blank" class="btn">View website<i class="bi bi-arrow-right-short"></i></a>
                    </div>
                </div>

                <div class="grill">
                    <img src="images/7.png" alt="logo">
                    <div class="grill_text">
                        <span>Ste Raphael church management platform.</span>
                        <a href="https://raphael-abatta.maparoisse.ci/#/accueil" target="_blank" class="btn">View website<i class="bi bi-arrow-right-short"></i></a>
                    </div>
                </div>

                <div class="grill">
                    <img src="images/8.png" alt="logo">
                    <div class="grill_text">
                        <span>Kizito church management platform.</span>
                        <a href="https://paroisse-kizito.ci/#/accueil" target="_blank" class="btn">View website<i class="bi bi-arrow-right-short"></i></a>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</section>
