<section class="presentation">
    <div class="presentation_box">
        <div class="pre_content">
            <div class="content_text">
                <h3>Hi, I’m Hadou Kone. Nice to meet you.</h3>
                <div class="sub_content">
                    <p>
                        Since beginning my journey as a freelance designer 12 years ago,
                        I've done remote work for agencies, consulted for startups,
                        and collaborated with talented people to create digital products for both business and consumer use.
                        I'm quietly confident, naturally curious, and perpetually working on improving my chops.
                    </p>
                </div>
            </div>
        </div>

        <div class="content_box">
            <div class="box_pre">
                <div class="box">
                    <i class="bi bi-pencil-square"></i>
                    <span class="box_title">Designer</span>
                    <div class="box_text">
                        <span>I value simple content structure, clean design patterns, and thoughtful interactions.</span>
                        <a href="#" class="link">Things I enjoy designing:</a>
                        <h3>UX, UI, Web, Apps, Logos</h3>
                        <a href="#" class="link">Design Tools:</a>
                        <div class="tools">
                            <span>Affinity Designer</span>
                            <span>Figma</span>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <i class="bi bi-code-square"></i>
                    <span class="box_title">Frontend Developer</span>
                    <div class="box_text">
                        <span>I value simple content structure, clean design patterns, and thoughtful interactions.</span>
                        <a href="#" class="link">Things I enjoy designing:</a>
                        <h3>HTML, CSS, Sass, Bootstrap ,Tailwind CSS , Git</h3>
                        <a href="#" class="link">Design Tools:</a>
                        <div class="tools">
                            <span>Angular</span>
                            <span>JavaScript</span>
                            <span>TypeScript</span>
                            <span>WordPress</span>
                            <span>Cpanel</span>
                            <span>Github & GitLab</span>
                            
                        </div>
                    </div>
                </div>

                <div class="box">
                    <i class="bi bi-code-square"></i>
                    <span class="box_title">Backend Developer</span>
                    <div class="box_text">
                        <span>I value simple content structure, clean design patterns, and thoughtful interactions.</span>
                        <a href="#" class="link">Things I enjoy designing:</a>
                        <h3>UX, UI, Web, Apps, Logos</h3>
                        <a href="#" class="link">Design Tools:</a>
                        <div class="tools">
                            <span>Affinity Designer</span>
                            <span>Figma</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
