
<section class="presentation">
    <div class="presentation_box">
      <div class="pre_content">
        <div class="content_text">
          <h3>{{ 'PRESENTATION.GREETING' | translate }}</h3>
          <div class="sub_content">
            <p>{{ 'PRESENTATION.INTRO' | translate }}</p>
          </div>
        </div>
      </div>
  
      <div class="content_box">
        <div class="box_pre">
          <div class="box">
            <i class="bi bi-pencil-square"></i>
            <span class="box_title">{{ 'DESIGNER.TITLE' | translate }}</span>
            <div class="box_text">
              <span class="desc">{{ 'DESIGNER.DESCRIPTION' | translate }}</span>
              <a href="#" class="link">{{ 'DESIGNER.ENJOY_DESIGNING' | translate }}</a>
              <h3>{{ 'DESIGNER.DESIGN_TYPES' | translate }}</h3>
              <a href="#" class="link">{{ 'DESIGNER.TOOLS' | translate }}</a>
              <div class="tools">
                <span *ngFor="let tool of ('DESIGNER.TOOLS_LIST' | translate)">{{ tool }}</span>
              </div>
            </div>
          </div>
  
          <div class="box">
            <i class="bi bi-code-square"></i>
            <span class="box_title">{{ 'FRONTEND_DEVELOPER.TITLE' | translate }}</span>
            <div class="box_text">
              <span  class="desc">{{ 'FRONTEND_DEVELOPER.DESCRIPTION' | translate }}</span>
              <a href="#" class="link">{{ 'FRONTEND_DEVELOPER.LANGUAGES' | translate }}</a>
              <h3 class="dev_tools">{{ 'FRONTEND_DEVELOPER.LANGUAGES_LIST' | translate }}</h3>
              <a href="#" class="link">{{ 'FRONTEND_DEVELOPER.DEV_TOOLS' | translate }}</a>
              <div class="tools">
                <span *ngFor="let tool of ('FRONTEND_DEVELOPER.TOOLS_LIST' | translate)">{{ tool }}</span>
              </div>
            </div>
          </div>
  
          <div class="box">
            <i class="bi bi-code-square"></i>
            <span class="box_title">{{ 'BACKEND_DEVELOPER.TITLE' | translate }}</span>
            <div class="box_text">
              <span  class="desc">{{ 'BACKEND_DEVELOPER.DESCRIPTION' | translate }}</span>
              <a href="#" class="link">{{ 'BACKEND_DEVELOPER.LANGUAGES' | translate }}</a>
              <h3>{{ 'BACKEND_DEVELOPER.LANGUAGES_LIST' | translate }}</h3>
              <a href="#" class="link">{{ 'BACKEND_DEVELOPER.DEV_TOOLS' | translate }}</a>
              <div class="tools">
                <span *ngFor="let tool of ('BACKEND_DEVELOPER.TOOLS_LIST' | translate)">{{ tool }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
    
<section class="work">
  <div class="work_box">
    <h3 class="title">{{ 'WORK.TITLE' | translate }}</h3>
    <span class="sub_title">{{ 'WORK.SUBTITLE' | translate }} 
      <a href="mailto:konehadou0201@gmail.com" class="email">{{ 'WORK.E-MAIL' | translate }}</a>
    </span>
    <div class="work_content">
      <div class="work_gril">
        <div class="grill">
          <img src="images/3.png" alt="logo">
          <div class="grill_text">
            <span>{{ 'WORK.PROJECT1.DESCRIPTION' | translate }}</span>
            <a href="https://siglass-ci.com/site/" target="_blank" class="btn">
              {{ 'WORK.VIEW_WEBSITE' | translate }}<i class="bi bi-arrow-right-short"></i>
            </a>
          </div>
        </div>

        <div class="grill">
          <img src="images/4.png" alt="logo">
          <div class="grill_text">
            <span>{{ 'WORK.PROJECT2.DESCRIPTION' | translate }}</span>
            <a href="https://test.pgcp.ci/#/connexion" target="_blank" class="btn">
              {{ 'WORK.VIEW_BACKOFFICE' | translate }}<i class="bi bi-arrow-right-short"></i>
            </a>
          </div>
        </div>

        <div class="grill">
          <img src="images/9.png" alt="logo">
          <div class="grill_text">
            <span>{{ 'WORK.PROJECT3.DESCRIPTION' | translate }}</span>
            <a href="https://admin.maparoisse.ci/#/login" target="_blank" class="btn">
              {{ 'WORK.VIEW_BACKOFFICE' | translate }}<i class="bi bi-arrow-right-short"></i>
            </a>
          </div>
        </div>

        <div class="grill">
          <img src="images/5.png" alt="logo">
          <div class="grill_text">
            <span>{{ 'WORK.PROJECT4.DESCRIPTION' | translate }}</span>
            <a href="#" class="btn">
              {{ 'WORK.VIEW_WEBSITE' | translate }}<i class="bi bi-arrow-right-short"></i>
            </a>
          </div>
        </div>

        <div class="grill">
          <img src="images/6.png" alt="logo">
          <div class="grill_text">
            <span>{{ 'WORK.PROJECT5.DESCRIPTION' | translate }}</span>
            <a href="https://eglise-mukasa.ci/#/accueil" target="_blank" class="btn">
              {{ 'WORK.VIEW_WEBSITE' | translate }}<i class="bi bi-arrow-right-short"></i>
            </a>
          </div>
        </div>

        <div class="grill">
          <img src="images/7.png" alt="logo">
          <div class="grill_text">
            <span>{{ 'WORK.PROJECT6.DESCRIPTION' | translate }}</span>
            <a href="https://raphael-abatta.maparoisse.ci/#/accueil" target="_blank" class="btn">
              {{ 'WORK.VIEW_WEBSITE' | translate }}<i class="bi bi-arrow-right-short"></i>
            </a>
          </div>
        </div>

        <div class="grill">
          <img src="images/8.png" alt="logo">
          <div class="grill_text">
            <span>{{ 'WORK.PROJECT7.DESCRIPTION' | translate }}</span>
            <a href="https://paroisse-kizito.ci/#/accueil" target="_blank" class="btn">
              {{ 'WORK.VIEW_WEBSITE' | translate }}<i class="bi bi-arrow-right-short"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
