$primary: #6e07f3;
$black: #141c3a;
//$font-size-base: 1.1rem;

/** Autre propriété **/
$border1:.1rem solid rgb(0, 0, 0,.1);
$border_2: .2rem solid $primary;
$border_3: .1rem solid $primary;
$shadow: 0px 1px 3px rgb(0,0,0,.12), 0px 1px 3px rgb(0,0,0,.23);