<footer class="footer">
    <div class="footer_content">
        <div class="footer_pre">
            <h3>Start a project</h3>
            <span>Interested in working together? We should queue up a time to chat. I’ll buy the coffee.</span>
            <a href="#" class="btn"><i class="bi bi-person-workspace"></i> Let's do this</a>
        </div>
        <div class="footer_second">
            <div class="second_content">
                <div class="content_sec_logo">
                    <i class="bi bi-amd"></i>
                </div>
                <div class="content_sec_text">
                    <span>Living, learning, & leveling up <br> one day at a time.</span>
                </div>
                <div class="content_sec_social">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-github"></i>
                    <i class="bi bi-gitlab"></i>
                </div>
                <div class="content_sec_message">
                    <span>Handcrafted by me &nbsp; 2024</span>
                </div>
                <div class="content_sec_signature">
                    <span>Made with <small>Angular</small></span>
                </div>
            </div>
        </div>
    </div>
</footer>