<footer class="footer">
    <div class="footer_content">
        <div class="footer_pre">
            <h3>Start a project</h3>
            <span>Interested in working together? We should queue up a time to chat. I’ll buy the coffee.</span>
            <a href="#" class="btn"><i class="bi bi-person-workspace"></i> Let's do this</a>
        </div>
        <div class="footer_second">
            <div class="second_content">
                <div class="content_sec_logo">
                    <i class="bi bi-amd"></i>
                </div>
                <div class="content_sec_text">
                    <span>Living, learning, & leveling up <br> one day at a time.</span>
                </div>
                <div class="content_sec_social">
                    <a href="https://www.facebook.com/profile.php?id=100068706699795" target="_blank" aria-label="Facebook">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/hadou_kone/" target="_blank" aria-label="Instagram">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/kone-hadou-565138242" target="_blank" aria-label="LinkedIn">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="https://github.com/hadoukone0102" target="_blank" aria-label="GitHub">
                        <i class="bi bi-github"></i>
                    </a>
                    <a href="https://gitlab.com/hadoukone0102" target="_blank" aria-label="GitLab">
                        <i class="bi bi-gitlab"></i>
                    </a>
                </div>                
                <div class="content_sec_message">
                    <span>Handcrafted by me &nbsp; 2024</span>
                </div>
                <div class="content_sec_signature">
                    <span>Made with <small>Angular</small></span>
                </div>
            </div>
        </div>
    </div>
</footer>