<header class="header">
    <div class="header-content">
        <!-- première partie du header -->
        <div class="premier">
            <div class="header-first">
                <i class="bi bi-amd"></i>
            </div>
            <div class="header-second">
                <div class="change">
                    <a href="#" class="langues active"   [class.active]="currentLanguage === 'en'" (click)="changeLanguage('en')">🌍En</a>
                    <a href="#" class="langues"   [class.active]="currentLanguage === 'fr'" (click)="changeLanguage('fr')">🌍Fr</a>
                </div>
                <!-- Autre contenu -->
                <a href="#" class=" btn hello">{{ 'SAY_HELLO' | translate }}</a>
            </div>  
            <div class="menu" (click)="toggleMenu()">
                <i class="bi bi-list"></i>
            </div>            
        </div>
        <!-- première partie du header -->
        <!-- deuxième partie du header -->
        <div class="deuxieme">
            <div class="header_text">
                <h3 class="title">{{ 'TITLE' | translate }}</h3>
                <span>{{ 'SUBTITLE' | translate }}</span>
            </div>
            <div class="header_img">
                <img src="https://mattfarley.ca/img/mf-avatar.svg" alt="">
            </div>
        </div>
        <!-- deuxième partie du header -->
    </div>
</header>