<header class="header">
    <div class="header-content">
        <!-- première partie du header -->
        <div class="premier">
            <div class="header-first">
                <i class="bi bi-amd"></i>
            </div>
            <div class="header-second">
                 <!-- Dropdown pour les langues -->
                <div class="language-dropdown">
                    <button class="dropdown-toggle" id="languageToggle">
                    🌍 {{'LANGUAGE' | translate }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" (click)="changeLanguage('en')">English</a></li>
                        <li><a href="#" (click)="changeLanguage('fr')">Français</a></li>
                    </ul>
                </div>
                <a href="#" class="hello">{{ 'SAY_HELLO' | translate}}</a>
            </div>
        </div>
        <!-- première partie du header -->
        <!-- deuxième partie du header -->
        <div class="deuxieme">
            <div class="header_text">
                <h3 class="title">Designer, Frontend & Backend Developer</h3>
                <span>I design and code beautifully simple things, and I love what I do.</span>
            </div>
            <div class="header_img">
                <img src="https://mattfarley.ca/img/mf-avatar.svg" alt="">
            </div>
        </div>
        <!-- deuxième partie du header -->
    </div>
</header>